/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: Arial, sans-serif;
    background-color: #0a4944;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    height: 100vh;
    color: #ffffff;
}

.legend {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

img {
    max-width: 80%; /* A imagem não ultrapassa o limite da tela */
    height: auto; /* Mantém a proporção original da imagem */
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 10px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento externo */
  }

/* Container principal que contém os textos */
.container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Estilo para as seções de texto */
.section {
    padding: 20px;
    background-color: transparent; /* Remove o fundo */
    border: none; /* Remove qualquer borda */
}

/* Estilo para os títulos das seções */
.section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ce4040;
    font-weight: 600;
}

/* Estilo para os parágrafos */
.section p {
    font-size: 16px;
    color: #c70a0a;
    line-height: 1.6;
    margin-bottom: 15px; /* Espaço entre parágrafos */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
    }

    .section {
        padding: 15px;
    }

    .section h2 {
        font-size: 20px;
    }

    .section p {
        font-size: 14px;
    }
}
